<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Document</title>

    <nav>

        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="employerMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Employer
            </button>
            <div class="employerDropdown" aria-labelledby="dropdownMenuButton">
                <a class="newEmployer" href="./empViews/empNew.hbs">New Employer</a>
                <a class="employerList" href="./empViews/empIndex.hbs">View Employers</a>
            </div>

    </nav>


    {{{body}}}
    </body>

</html>