html {
    /* align-content: center; */
    justify-content: center;
    background: blue;
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #77BA99;
}

body {
    background: red;
    margin: 0;
    min-height: 100%;
    width: 100%;
    background: #77BA99;
    justify-content: center;

}

.container-fluid {
    min-width: 100%;
    min-height: 100%;
    margin: 0; 
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    text-rendering: auto;
    margin: 0;
    padding: 0;
    font-size: 2.5vmin;
    font-weight: bolder;
}

.jobList {
    background: #262730;
    min-width: 100%;
    padding: 6vmin 15vmin;
    color: #262730;
}

.jobTitle {
    background: #D33F49;
    font-size: 4vmin;
}

.jobCard {
    margin: 4vmin 0 4vmin 0vmin;
    background: #77BA99;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    border-radius: 2vmin;
    font-family: 'Oswald', sans-serif;
    padding: 1.5vmin;
}

.block1 {
    display: flex;
    justify-content: space-around;

    background: #77BA99
}

.block2 {
    display: flex;
    justify-content: space-around;
    
    
    background: #77BA99
}

.secLabel {
    color: #EFF0D1;
    font-size: 2.75vmin;
    font-weight: bold;
    /* margin: 1vmin; */
    
}

button {
    color: #262730;
    background: #EFF0D1;
    border-radius: 2vmin;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    margin: 1vmin 1vmin 1vmin -1vmin;
    font-size: 2.75vmin; 
    /* opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s  cubic-bezier(0.165, 0.84, 0.44, 1) */
}

label {
    padding: 1vmin 2vmin;
}

.liNotes {
    margin: .25vmin 0;
}

.notesLabel {
    font-size: 3vmin;
    font-weight: bolder;
    margin: 1vmin 0 0 0vmin;
}
