<form action="/job" method="POST">

<input type="text" name="Title" id="" placeholder="Title">

<input type="text" name="Company" id="" placeholder="Company Name">

<input type="text" name="Location" id="" placeholder="Office listed">

<input type="text" name="Stack" id="" placeholder="Add stack tech list here">

{{!-- <input type="text" name="Offices" id=""> --}}

<input type="text" name="ExpMin" id="" placeholder="Min Exp. Listed">

<input type="text" name="ExpMax" id="" placeholder="Max of Range Listed">

<input type="text" name="RemoteOpt" id="" placeholder="Remote Options: Yes/No">

<input type="text" name="Notes" id="" placeholder="Notes">

<button type="submit">Add Job</button>

</form>