<form action="/employer" method="PUT">

<input type="text" name="Name" id="" placeholder="Name">

<input type="text" name="Notes" id="" placeholder="Notes">

<input type="text" name="Headquarters" id="" placeholder="Headquarters">

{{!-- <input type="text" name="Offices" id=""> --}}

<input type="text" name="AveragePay" id="" placeholder="Avg Pay (No Commas)">

<input type="text" name="Website" id="" placeholder="Website Url">

<button type="submit">Add Employer</button>

</form>

{{!-- <script>
    
    
</script> --}}