{{#if emps}}
    <ul class="employers">
        {{#each emps}}
        <li>
            <ul> {{this.Name}}
              <li>{{this.Jobs.length}}</li>
              <li>{{this.AveragePay}}</li>
              <form action="/employer/{{this.id}}/edit" method="get">
                  <button type="submit">Edit This Employer</button>            
              </form>
            </ul>
        </li>
        {{/each}}
    </ul>
{{/if}}