{{#if emps}}
    <ul class="employers">
        {{#each emps}}
        <li>
            <ul> {{this.Name}}
              <li>{{this.Jobs.length}}</li>
              <li>{{this.AveragePay}}</li>
            </ul>
        </li>
        {{/each}}
    </ul>
{{/if}}